version: '{build}'
branches:
  only:
  - master
clone_folder: c:\projects\glbinding
image:
- Visual Studio 2017
- Visual Studio 2015
- Visual Studio 2013
configuration:
- Release
- Debug
platform:
- x64
- x86
matrix:
  fast_finish: true

# skip unsupported combinations
init:
- echo %APPVEYOR_BUILD_WORKER_IMAGE% 
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2017" ( set generator=Visual Studio 15 )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2015" ( set generator=Visual Studio 14 )
- if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2013" ( set generator=Visual Studio 12 )
- echo %PLATFORM%
- if "%PLATFORM%"=="x64" ( set generator=%generator%Win64 )
- echo %generator%

before_build:
- cmd: >-
    mkdir build
    
    cd build
    
    cmake --version

    cmake .. -G "%generator%"
    
build:
  project: c:\projects\glbinding\build\glbinding.sln
  verbosity: minimal
  parallel: true 
only_commits:
  files:
    - CMakeLists.txt
    - appveyor.yml
    - sources/
